.header{
  font-family: 'Baloo Chettan 2', cursive;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  background-color: #4a4747;
  color: #ffffff;
  box-shadow: 10px 5px 50px black;
  position: relative;
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.3rem;
  }
  span{
    padding: 1rem;
    font-size: 1.3rem;
    a{
      text-decoration: none;
      color: white;
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
}